a {
    text-decoration: none;
}

button {
    display: block;
    margin-left: auto;
    text-decoration: none;
}


/* ACCORDIANS */
.FAQ {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-top: var(--sectionPadding);
}

.accordionItem {
    background-color: var(--secondaryColor);
    border-radius: 20px;
    overflow: hidden;
}


.accordionKnap {
    width: 100%;
    background: none;
    border: none;
    padding: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
}

.accordionKnap.aktiv {
    i {
        transform: rotate(180deg);
    }

}

.accordionIndhold {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    p {
        padding: var(--gap);
    }

}

.accordionIndhold.aktiv {
    max-height: 450px;
    background-color: #FFD8E4;

    p {
        padding: var(--gap);
    }

    h3 {
        padding: 0 var(--gap);
    }

    a {
        color: var(--textColor);
    }
}