.billetSektion {
    width: 100%;
}

/* sørg for at selve rækken med "Billetter" og prisen står på én linje og i hver sin ende */
.billetSektion .billetRække {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* skubber titel til venstre og pris til højre */
    gap: var(--gap);
    width: 100%;
}

/* ekstra sikring af prisplacering */
.billetPris {
    margin: 0;
}

button {
    display: block;
    margin-left: auto;
}

hr {
    width: 100%;
    height: 3px;
    border: none;
    background-color: var(--primaryColor);
    margin-block: var(--gap);
}

.eventBeskrivelse p {
    white-space: pre-line;
    /*laver linebreaks i beskrivelses teksten ligesom der er i WP*/
}

.eventLokation {
    width: 100%;
    object-fit: cover;
    margin-top: var(--gap);
}