body {
    margin: 0;


    /* VARIABLER*/
    /* FARVER */
    --primaryColor: #01BFD3;
    --lightPrimaryColor: #8FEAF4;
    --secondaryColor: #FFBFD3;
    --white: #FFFFFF;
    --backgroundColor: #F0F7F8;
    --textColor: #000000;


    /* ikon farver */
    --lightPink: #F3C0C0;
    --lightYellow: #E9E79A;
    --lightBrown: #CCA06E;
    --lightGreen: #A7D9A6;
    --lightBlue: #A6DEE4;


    /* TYPOGRAPHY*/
    --textFont: poppins, sans-serif;
    --bodyText: 12px;
    --headerTextSize: 28px;
    --middleHeaderTextSize: 16px;
    --smallHeaderTextSize: 12px;
    --fontWeight: bold;

    /* SPACING */
    --gap: 20px;
    --sectionPadding: 50px;



    /*  GENERAL STYLING*/


    p {
        font-family: var(--textFont);
        font-size: var(--bodyText);
    }

    h1 {
        font-family: var(--textFont);
        font-size: var(--headerTextSize);
        font-weight: var(--fontWeight);
    }

    h2 {
        font-family: var(--textFont);
        font-size: var(--middleHeaderTextSize);
        font-weight: var(--fontWeight);
    }

    h3 {
        font-family: var(--textFont);
        font-size: var(--middleHeaderTextSize);
        font-weight: var(--fontWeight);
    }


    /* KNAPPER OG IKONER*/
    /* buttons */
    button {
        background-color: var(--secondaryColor);
        color: var(--textColor);
        width: 100px;
        height: 20px;
        border-radius: 5px;
        border: none;
    }

    .allergeneIkon {
        color: var(--textColor)
    }

    .socialsIkon {
        color: var(--white);
    }


    /* HEADER */
    header {
        height: 90px;
        background-color: var(--primaryColor);

        ul {
            li {
                list-style: none;

                a {
                    text-decoration: none;

                }
            }
        }

    }

    /* STYLES */

    .heroBillede {
        background-color: var(--lightPrimaryColor);
        height: 200px;
        position: relative;
    }

    .overlaySection {
        background-color: var(--backgroundColor);
        border-radius: 50px 50px 0 0;
        position: absolute;
        top: 200px;
        left: 0;
        padding: 20px;
        padding-bottom: 200px;

    }






    /* GLOBAL NAVIGATION */
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

    }


    .openingHours {
        background-color: var(--white);
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 50px 50px 0 0;


    }

    nav {
        height: 110px;
        background-color: var(--primaryColor);
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 0;

            li {
                list-style: none;


                a {
                    text-decoration: none;
                    color: var(--white);
                }
            }
        }
    }
}